@font-face {
    font-family: league-spartan;
    src: url("/static/leaguespartan-bold.ttf");
}

body {
	background-color: #eeeeee;
	font-family: league-spartan, sans-serif;
	font-size: 14pt;
}

.header {
	padding: 20px;
	text-transform: uppercase;
}

.sitename {
	margin: 0px;
	font-size: 24pt;
	letter-spacing: 4px;
	padding-left: 40px;
	color: #ccc;
	padding-right: 80px;
	margin-top: -40px;
	text-align: right;
}

.title {
	margin-left: 40px;
	margin-top: -40px;
	letter-spacing: 4px;
}

.contents {
	text-align: justify;
	line-height: 1.5;
	padding: 40px;
	font-family: "Helvetica", "Arial", sans-serif;
	margin: 40px;
	width: 80%;
	background-color: #e8e8e8;
	margin-left: auto;
	margin-right: auto;
}

.menu {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	border-top-style: solid;
	border-bottom-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	border-width: 1px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

a:link {
	text-decoration: none;
	color: #cc3366;
}

a:visited {
	color: #993366;
}

.footer {
	text-align: center;
	letter-spacing: 4px;
	text-transform: uppercase;
}

pre {
    text-indent: 0px;
    padding-left: 20px;
}

.quote {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
}
.quotelink {
	margin-top: 10px;
	text-align: right;
	font-size: 12pt;
}

.link {
	border-top-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	background-color: #eee;
}
.permalink {
	margin-top: 10px;
	text-align: right;
	font-size: 12pt;
}

