{{! linklist }}
<div class="links">
  {{#linklist}}
  <div class="link" id="{{id}}">
      <div class="name"><a href="{{url}}">{{name}}{{^name}}{{url}}{{/name}}</a></div>
      {{#description}}<div class="description">{{description}}</div>{{/description}}
      {{#name}}<div class="url"><pre><a href="{{url}}">{{url}}</a></pre></div>{{/name}}
      <div class="permalink"><a href="#{{id}}" onClick="doHighlight('{{id}}')">#{{id}}</a></div>
  </div>
  {{/linklist}}
</div>
