<div class="scraps">
  {{#scraplist}}
    <div class="scrap" id="{{id}}">
      {{{content}}}
    <div class="related">
      {{#related}}
        <a href=/scraps/{{name}}><code>{{name}}</code>: {{why}}</a><br/>
      {{/related}}
    </div>
    {{^focus}}
      <div class="scraplink"><a href="{{id}}" onClick="doHighlight('{{id}}')">#{{id}}</a></div>
    {{/focus}}
    </div>
  {{/scraplist}}
</div>
